<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Taking</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class=" block main w-full min-h-screen bg-zinc-900">
        <div class="form p-10">
            <form action="/create" method="post">
                <input type="text" placeholder="Enter title here .... " name="title" class="bg-zinc-800 text-white w-full px-5 py-2 rounded-md outline-none" />
                <textarea placeholder="Enter description here ...." name="details" class="bg-zinc-800 mt-5 text-white w-full px-5 py-2 rounded-lg outline-none resize-none" ></textarea>
                <input type="submit" class="mt-2 bg-blue-500 text-white px-5 py-2 rounded-md">
            </form>
        </div>
       

        <div class="tasks p-10 flex flex-wrap gap-5">

            <% if(files.length > 0){  %>
                <% files.forEach(function(val) {  %>
                    <div class="task  bg-zinc-800 min-w-72 px-3 rounded-md py-4 ">
                        <h1 class="text-white text-2xl tracking-tighter "><%= val %> </h1>
                        <div class="flex justify-between mt-3">
                            <a  class = " text-blue-500 inline-block  " href="/files/<%= val %>">Read more ...</a>
                            <a class="text-zinc-600" href="/edit/<%= val %>">edit filename</a>
                        </div>
                        
                    </div>
                    <% }) %>
               <% } else { %>
                   <h2 class="bg-zinc-700">No tasks yet.</h2>
               <% } %>
              
        </div>
    </div>
</body>

</html>