<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" block main w-full p-10 min-h-screen bg-zinc-900">
    <div >
       <a class= " text-blue-500 inline-block mx-2 "href="/">Go Back</a>
       <h1 class="bg-zinc-800 text-white w-full  mt-5 px-7 py-5  rounded-md outline-none"> <%= filename %></h1>
       <p  class="bg-zinc-800 text-white w-full  mt-5 px-7 py-5  rounded-md outline-none"><%= filedata %></p>
    </div>
</body>

</html>